#grid {
    width: 960px;
    height: 960px;
    margin: 0 auto;
}

.square {
    border: 1px solid #2f195f;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.center {
    text-align: center;
}

#input {
    background-color: black;
    color: white;
    font-size: 16px;
    margin: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}

#input:hover {
    background-color: #b8b8b8;
    color: black;
}